body{  
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
/* Navbar-section Style Here */
.navbar-section{
    padding-top: 18px;
    background-color: #264653 ;
}
.navbar-item ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    width: 81%;
    gap: 55px;
    align-items: center;
}
.navbar-item ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.navbar-toggler{
    background-color: #E76F51;
    border: 0px;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    margin-left: 70px;
    font-weight: 500;
    cursor: pointer;
}
.navbar-toggler:hover{
    background-color: #e76f51c0;
}

/* Bannar-section Style Here */
.bannar-section{
    margin-top: -17px;
    color: white;
    background-color: #264653 ;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bannar-contain{
    display: flex;
    width: 65%;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.bannar-left-contain p{
    color: #E0E0E0 !important;
    text-align: justify;
    width: 80%;
    
}
.bannar-left-contain h3{
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.Purchase-btn{
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 4px;
    border: 0;
    background-color: #E76F51;
    cursor: pointer;
    color: white;
}
.Purchase-btn:hover{
    background-color: #e76f51c0;
}
/* Fetured-section Style Here */
.fetured-section{
    margin-top: 70px;
}
.fetured-section-item{
    text-align: center;
}
.fetured-section-header{
    font-size: 42px;
    font-weight: 600;
    margin: 0;
}
.fetured-section-item p{
    font-size: 12px;
    color: rgb(213, 6, 6);
    font-weight: 600;
    margin: 0;
}
.fetured-section-item .rular{
    width: 70px;
    background-color: red;
    border: 0;
    outline: 0;
    height: 1px;
}
.fetured-section-imges{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin: 80px;
   
}
.feature-bike-img{
    width: 300px;
}

/* News-section Style Here */
.news-section-header{
    font-size: 40px;
    font-weight: 600;
    margin: 60px;
    text-align: center;
}
.news-section-item{
    display: flex;
    gap: 20px;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.news-section-card{
    border: 1px solid rgba(0, 0, 0, 0.143) ;
    border-radius: 3px;
    width: 375px;
    height: 540px;
}
.news-section-card img{
    width: 350px;
    margin: 10px;
}
.news-section-card h3{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    margin-left: 20px;
}
.news-section-card p{
    text-align: justify;
    margin: 20px;
    margin-top: 0;
    color: gray;
    font-size: 14px;
    line-height: 2;
}
.news-section-card button{
    margin-left: 20px;
    border: 1px solid #E76F51;
    background: transparent;
    border-radius: 3px;
    color: #E76F51;
    padding: 10px 25px;
    font-size: 18px;
}
.news-section-card button:hover{
    color: white;
    background-color: #E76F51;
    cursor: pointer;
    transition: 0.5s;
}


.testimonial-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.testimonial-section-header{
    font-size: 43px;
    font-weight: 600;
}
.testimonial-section-header span{
    color: #E76F51;
}
.testimonial-section-item{
    display: flex;
    justify-content: center;
    gap:40px;
}
.testimonial-section-card{
    border: 1px solid rgba(0, 0, 0, 0.143) ;
    border-radius: 3px;
    width: 325px;
    height: 450px;
}
.testimonial-section-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
}
.testimonial-section-card p{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #6c757d ;
    font-size: 15px;
    line-height: 2;
}
.testimonial-section-card .rating-star{
    color: #E76F51;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
}
.testimonial-section-card h6{
    font-size: 12px;
    color: #23A6F0;
    margin: 0;
    margin-top: 5px;
}