body{  
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Navbar-section Style Here */
.navbar-section{
    padding-top: 18px;
    background-color: #264653 ;
}
.navbar-item ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    width: 81%;
    gap: 55px;
    align-items: center;
}
.navbar-item ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.navbar-toggler{
    background-color: #E76F51;
    border: 0px;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    margin-left: 70px;
    font-weight: 500;
    cursor: pointer;
}
.navbar-toggler:hover{
    background-color: #e76f51c0;
}

/* Bannar-section Style Here */
.bannar-section{
    margin-top: -17px;
    color: white;
    background-color: #264653 ;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bannar-contain{
    display: flex;
    width: 65%;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.bannar-left-contain p{
    color: #E0E0E0 !important;
    text-align: justify;
    width: 80%;
    
}
.bannar-left-contain h3{
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.Purchase-btn{
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 4px;
    border: 0;
    background-color: #E76F51;
    cursor: pointer;
    color: white;
}
.Purchase-btn:hover{
    background-color: #e76f51c0;
}


/* Fetured-section Style Here */
.fetured-section{
    margin-top: 70px;
}
.fetured-section-item{
    text-align: center;
}
.fetured-section-header{
    font-size: 42px;
    font-weight: 600;
    margin: 0;
}
.fetured-section-item p{
    font-size: 12px;
    color: rgb(213, 6, 6);
    font-weight: 600;
    margin: 0;
}
.fetured-section-item .rular{
    width: 70px;
    background-color: red;
    border: 0;
    outline: 0;
    height: 1px;
}
.fetured-section-imges{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin: 80px;
   
}
.feature-bike-img{
    width: 300px;
}

/* News-section Style Here */
.news-section-header{
    font-size: 40px;
    font-weight: 600;
    margin: 60px;
    text-align: center;
}
.news-section-item{
    display: flex;
    gap: 20px;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.news-section-card{
    border: 1px solid rgba(0, 0, 0, 0.143) ;
    border-radius: 3px;
    width: 375px;
    height: 540px;
}
.news-section-card img{
    width: 350px;
    margin: 10px;
}
.news-section-card h3{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    margin-left: 20px;
}
.news-section-card p{
    text-align: justify;
    margin: 20px;
    margin-top: 0;
    color: gray;
    font-size: 14px;
    line-height: 2;
}
.news-section-card button{
    margin-left: 20px;
    border: 1px solid #E76F51;
    background: transparent;
    border-radius: 3px;
    color: #E76F51;
    padding: 10px 25px;
    font-size: 18px;
}
.news-section-card button:hover{
    color: white;
    background-color: #E76F51;
    cursor: pointer;
    transition: 0.5s;
}

/* Testimonial-section Style Here */
.testimonial-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.testimonial-section-header{
    font-size: 43px;
    font-weight: 600;
}
.testimonial-section-header span{
    color: #E76F51;
}
.testimonial-section-item{
    display: flex;
    justify-content: center;
    gap:40px;
}
.testimonial-section-card{
    border: 1px solid rgba(0, 0, 0, 0.143) ;
    border-radius: 3px;
    width: 325px;
    height: 450px;
}
.testimonial-section-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
}
.testimonial-section-card p{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #6c757d ;
    font-size: 15px;
    line-height: 2;
}
.testimonial-section-card .rating-star{
    color: #E76F51;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
}
.testimonial-section-card h6{
    font-size: 12px;
    color: #23A6F0;
    margin: 0;
    margin-top: 5px;
}



/* FAQ-section Style Here */
.faq-section{
    text-align: center;
}
.faq-section-header{
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 100px;
}
.faq-section-header span{
    color: #E76F51;
}
.faq-content{
    display: flex;
    width: 80%;
    justify-content: center;
}
.faq-content .left-content img{
    width: 450px;
}
.faq-content .right-content{
    margin-right: -400px;
    margin-top: -100px;
    margin-left: 50px;
}
.faq-section ul{
    margin: 100px auto;
    width: 600px;
}
.faq-section ul li{
    list-style: none;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid gray;
}
.faq-section ul li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.faq-section ul li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: black;
}
.faq-section label + input[type="radio"]{
    display: none;
}
.faq-section .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.faq-section label + input[type="radio"]:checked + .content{
    max-height: 400px;
}


/* Services-section Style Here */
.services-section{
    text-align: center;
}
.services-section-header{
    font-size: 43px;
    font-weight: 600;
}
.services-section-header span{
    color: #E76F51;
}
.services-item{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    justify-content: center;
    margin: auto;
    gap: 40px;
    margin-top: 60px;
}
.services-card img{
    height: 210px;
}
.services-card{
    border: 1px solid rgba(0, 0, 0, 0.143) ;
    border-radius: 3px;
    width: 350px;
    height: 450px;
}
.services-card h2{
    color: #E76F51;
    font-weight: 500;
    font-size: 17px;
}
.services-card p{
    margin: 0 30px;
    line-height: 2;
    font-size: 15px;
}


/* Contact-us Section Style Here */
.contact-us-section-header{
    font-size: 43px;
    font-weight: 600;
}
.contact-us-section-header span{
    color: #E76F51;
}
.Contact-us-Section{
    min-height: 85vh;
    padding: 50px;
    text-align: center;
}
.Contact-us-contain{
    max-width: 1200px;
    margin: 0 auto;
}
.Contact-us-contain h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}
.Contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 200px;
}
.contact-from{
    text-align: left;
}
.contact-from h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 20px;
}
.form-group input,.form-group textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #e76f5137;
    color: #333;
}
.form-sub-btn{
    display: inline-block;
    padding: 12px 24px ;
    background-color: #E76F51;
    color: white;
    border-radius: 10px;
    border: #E76F51;
    cursor: pointer;
    font-size: 15px;
}
.form-sub-btn:hover{
    background-color: white;
    color: #E76F51;
    border: 2px solid #E76F51;
}
.contact-info{
    text-align: left;
    margin-left: 150px;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
    margin-bottom: 10px;
    color: #555;
}
.contact-info i{
    color: #E76F51;
    margin-right: 10px;
}


/* Footter section style here  */
.footer-section{
    background-color: #212529 ;
    color: white;
    padding: 20px 50px;
}
.footer-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.l-c-item{
    display: flex;
    gap: 20px;
    font-size: 13px;
    margin: 0;
}
.navbar-nav ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    margin-left: -30px;
    margin-top: -5px
}
.navbar-nav ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: white;
}
.copyright-p{
    font-size: 13px;
}
.right-contain h1{
    font-size: 18px;
    padding-left: 10px;
    font-weight: 500;
}
.right-contain img{
    display: flex;
    width: 110px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}